<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shares.common.dal.daointerface.SysUserInfoDOMapper">
    <resultMap id="BaseResultMap" type="com.shares.common.dal.dataobject.auto.SysUserDO">
        <id column="SEQ_ID" property="seqId" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="IS_DELETE" property="isDelete" jdbcType="CHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listUserByPage" resultMap="BaseResultMap"
            parameterType="com.shares.common.dal.plugin.common.model.PageResult">
        SELECT
        SEQ_ID,
        USER_ID,
        USERNAME,
        PASSWORD,
        MOBILE,
        ADDRESS,
        STATUS,
        CREATE_TIME,
        UPDATE_TIME
        FROM
        SYS_USER a
        WHERE
        a.IS_DELETE = 'N'
        <include refid="listUserByPageQuery"></include>
    </select>
    <sql id="listUserByPageQuery">
        <if test="username != null and username != ''">
            AND a.USERNAME = #{username}
        </if>
        <if test="password != null and password != ''">
            AND a.PAPSSWORD = #{password}
        </if>
        <if test="mobile != null and mobile != ''">
            AND a.MOBILE LIKE CONCAT('%', #{mobile}, '%')
        </if>
    </sql>


    <resultMap id="SysUserResourceMap" type="com.shares.common.dal.dataobject.SysUserResourceInfoDO">
        <result column="RES_CODE" property="resCode" jdbcType="VARCHAR"/>
        <result column="RES_NAME" property="resName" jdbcType="VARCHAR"/>
        <result column="RES_URL" property="resUrl" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR"/>
        <result column="RES_DESC" property="resDesc" jdbcType="VARCHAR"/>
        <result column="MENU_CODE" property="menuCode" jdbcType="VARCHAR"/>
        <result column="RES_ICON" property="resIcon" jdbcType="VARCHAR"/>
        <result column="RES_TYPE" property="resType" jdbcType="VARCHAR"/>
        <result column="SEQUENCE" property="sequence" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getMenuTree" resultMap="SysUserResourceMap"
            parameterType="java.lang.String">
        SELECT
            a.RES_CODE,
            a.RES_NAME,
            a.RES_URL,
            a.PARENT_CODE,
            a.RES_DESC,
            a.MENU_CODE,
            a.RES_ICON,
            a.RES_TYPE,
            a.SEQUENCE,
            e.USER_ID,
            e.USERNAME
        FROM
            sys_resource a,
            sys_role_resource b,
            sys_role c,
            sys_user_role d,
            sys_user e
        WHERE
          e.USER_ID = #{userId}
        AND a.RES_CODE = b.RES_CODE
        AND b.ROLE_CODE = c.ROLE_CODE
        AND c.ROLE_CODE = d.ROLE_CODE
        AND d.USER_ID = e.USER_ID
        AND a.IS_DELETE = 'N'
        AND b.IS_DELETE = 'N'
        AND c.IS_DELETE = 'N'
        AND d.IS_DELETE = 'N'
        AND e.IS_DELETE = 'N'
    </select>

</mapper>